* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
}


 .carousel{
 	height:100vh;
 	width:100%;
 }
    

 .carousel-inner{
 	height:100vh;
 	width:100%
 }
    
 .carousel-item{
 	height:100%; 
 	width:100%;
 }