*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Nunito', sans-serif;
}

.nav-item{
	padding-right: 30px;
	font-size: 1.2rem;
}

.navbar-brand{
	padding-right: 40px;
	padding-left: 40px;
	font-size: 1.2rem;
}

#home{
	display: flex;
	flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
	height: 90vh;
	width: 100%;
	background: rgb(72,72,245);
	background: radial-gradient(circle, rgba(72,72,245,1) 0%, rgba(246,155,155,0.6278886554621849) 100%);
	padding-right: 40px;
	padding-left: 40px;
}



#home_intro{
	display: flex;
	flex-direction: column;
    align-items: center;
   	justify-content: center;
	width: 50%;
	height: 100%;
	vertical-align: middle;
}

#home_image{
	display: flex;
	flex-direction: column;
    align-items: center;
   	justify-content: center;
	width: 50%;
	height: 100%;
}

#home_img{
	height: 70%; 
	width: 70%;
}




/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/

#counts{
	width: 100%;
}

.counts {
  background: linear-gradient(90deg, rgba(88, 70, 249, 0.5) 0%, rgba(123, 39, 216, 0.5) 100%), url("../images/counts-bg.png") center center no-repeat;
  padding: 80px 0 60px 0;
}

.counts .counters span {
  font-size: 48px;
  display: block;
  color: #fff;
  font-size: 3.5rem;
  font-weight: bold;
}

.counts .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
}


/* Teams CSS */



.row.heading h2 {
    color: black;
    font-size: 52.52px;
    line-height: 95px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
ul{
  margin:0;
  padding:0;
  list-style:none;
}
.heading.heading-icon {
    display: block;
}
.padding-lg {
	display: block;
	padding-top: 60px;
	padding-bottom: 60px;
}
.practice-area.padding-lg {
    padding-bottom: 55px;
    padding-top: 55px;
}
.practice-area .inner{ 
     border:1px solid #999999; 
	 text-align:center; 
	 margin-bottom:28px; 
	 padding:40px 25px;
}
.our-webcoderskull .cnt-block:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    border: 0;
}
.practice-area .inner h3{ 
    color:#3c3c3c; 
	font-size:24px; 
	font-weight:500;
	font-family: 'Poppins', sans-serif;
	padding: 10px 0;
}
.practice-area .inner p{ 
    font-size:14px; 
	line-height:22px; 
	font-weight:400;
}
.practice-area .inner img{
	display:inline-block;
}


.our-webcoderskull{
  background: url("../images/wave.svg") no-repeat center top / cover;
  
}
.our-webcoderskull .cnt-block{ 
   float:left; 
   width:100%; 
   background:#fff; 
   padding:30px 20px; 
   text-align:center; 
   border:2px solid #d5d5d5;
   margin: 0 0 28px;
}
.our-webcoderskull .cnt-block figure{
   width:148px; 
   height:148px; 
   border-radius:100%; 
   display:inline-block;
   margin-bottom: 15px;
}
.our-webcoderskull .cnt-block img{ 
   width:148px; 
   height:148px; 
   border-radius:100%; 
}
.our-webcoderskull .cnt-block h3{ 
   color:#2a2a2a; 
   font-size:20px; 
   font-weight:500; 
   padding:6px 0;
   text-transform:uppercase;
}
.our-webcoderskull .cnt-block h3 a{
  text-decoration:none;
	color:#2a2a2a;
}
.our-webcoderskull .cnt-block h3 a:hover{
	color:#337ab7;
}
.our-webcoderskull .cnt-block p{ 
   color:#2a2a2a; 
   font-size:13px; 
   line-height:20px; 
   font-weight:400;
}
.our-webcoderskull .cnt-block .follow-us{
	margin: auto;
}
.our-webcoderskull .cnt-block .follow-us li{ 
    display:inline-block; 
	width:auto; 
	margin:0 5px;
}
.our-webcoderskull .cnt-block .follow-us li .fa{ 
   font-size:24px; 
   color:#767676;
}
.our-webcoderskull .cnt-block .follow-us li .fa:hover{ 
   color:#025a8e;
}

/* Teams CSS */


/* Contact CSS */

#contactContainer{
	height: 50vh;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

#contactformContainer{
	width: 40%;
}

#addressContainer{
	width: 40%;	
}

.space-up{
	margin-top: 20px;
}

/* Contact CSS */


@media only screen and (max-width: 600px) {
 #home_image {
	display: none;
 }

 #home_intro{
 	display: block;
 	width: 95%;
 	text-align: center;
 	margin-top: 50px;
 }

 .navbar-brand{
	padding-left: 0px;
 }
 .navbar-brand{
	padding-left: 0px;
}

#about {
	height: 100%;
	width: 100%;
	background-color: white;
}

}
