*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Nunito', sans-serif;
}

.nav-item{
	padding-right: 30px;
}

.navbar-brand{
	padding-right: 40px;
	padding-left: 40px;
}

#home{
	display: flex;
	flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
	height: 90vh;
	width: 100%;
	background: rgb(72,72,245);
	background: radial-gradient(circle, rgba(72,72,245,1) 0%, rgba(246,155,155,0.6278886554621849) 100%);
	padding-right: 40px;
	padding-left: 40px;
}



#home_intro{
	display: flex;
	flex-direction: column;
    align-items: center;
   	justify-content: center;
	width: 50%;
	height: 100%;
	vertical-align: middle;
}

#home_image{
	display: flex;
	flex-direction: column;
    align-items: center;
   	justify-content: center;
	width: 50%;
	height: 100%;
}

#home_img{
	height: 70%; 
	width: 70%;
}




/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/

#counts{
	width: 100%;
}

.counts {
  background: linear-gradient(90deg, rgba(88, 70, 249, 0.5) 0%, rgba(123, 39, 216, 0.5) 100%), url("../images/counts-bg.png") center center no-repeat;
  padding: 80px 0 60px 0;
}

.counts .counters span {
  font-size: 48px;
  display: block;
  color: #fff;
  font-size: 3.5rem;
  font-weight: bold;
}

.counts .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
}






@media only screen and (max-width: 600px) {
 #home_image {
	display: none;
 }

 #home_intro{
 	display: block;
 	width: 95%;
 	text-align: center;
 	margin-top: 50px;
 }

 .navbar-brand{
	padding-left: 0px;
 }
 .navbar-brand{
	padding-left: 0px;
}

#about {
	height: 100%;
	width: 100%;
	background-color: white;
}

}
