*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
}

#about{
	height: 90vh;
	width: 100%;
	background-color: #7a57cf;
	color: white;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}

#about div img{
	width: 80%;
	height: 80%;
	margin: auto;
	display: block;
}

#about div{
	text-align: justify;
	margin: auto;
}


#about div h1::before{
	content: '';
	display: inline-block;
	background-image: url("../images/icons/icons8-quote-left-100.png");
	background-size: cover;
	height: 5rem;
	width: 5rem;
	margin-right: 5px;
}

#about div h1::after{
	content: '';
	display: inline-block;
	background-image: url("../images/icons/icons8-get-quote-100.png");
	background-size: cover;
	height: 5rem;
	width: 5rem;
	margin-left: 5px;
}

#about-text{
	padding: 60px;
}

#about-text > p{
	margin-top: 20px;
	margin-bottom: 20px;
}

/* nav-item */


.nav-item{
	margin-left: 40px;
	font-size: 1.4rem;
	color: white;
}

.navbar-brand{
	margin-left: 80px;
	font-size: 1.3rem;
}

nav{
	background-color: #7a57cf;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
	color: white;
}

.navbar-light .navbar-nav .nav-link{
	color: white;
}

/* Teams */

.card-title{
	text-align: center;
	font-weight: bold;
}

.card-text{
	text-align: center;
}